.title-news span{
    font-size: 18px;
    font-weight: 500;
    color: #3f51b5;
}
.date-news span{
    font-size: 15px;
    color: rgb(136, 133, 133);
    font-weight: 500;
}
.news-modal{
    border-bottom: 2px solid #eee;
    margin-bottom: 30px;
}

.news-modal:hover{
    cursor: pointer;
}

.title-all{
    color: green !important;
    font-weight: 500;
}

.title-fullName{
    color: blue !important;
    font-weight: 500;

}

.title-type1{
    color: orange;
    font-weight: 500;
}

.title-type2{
    color: rgb(173, 22, 47);
    font-weight: 500;

}